body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-black: #353238;
  --color-white: #FFF;
  --color-grey1: #828282;
  --color-grey2: #E3E3E3;
  --color-grey3: #CDCAD0;
  --color-blue1: #0086A8;
  --color-blue2: #007693;
  --color-blue3: #00657E; 
  --color-red: #EB5E55;
}